@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(161, 108, 157);
    color: white;
}
section#titulo h1 {
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    margin: 10px 40px;
    text-shadow: 1px 2px 2px  black;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.438);
    text-align: center;
    background-color: rgb(160, 79, 153);
    border: 1px dashed white;
    border-radius: 10px;
}
section#titulo {
    width: 70%;
    background-color: rgb(160, 79, 153);
    text-shadow: 1px 1px 2px  black;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.438);
    border: 1px solid white;
    border-radius: 10px;
    margin: 20px auto;
    padding: 15px;
}
section#botoes {
    text-align: center;
}
section#botoes p {
    display: inline-block;
    background-color: rgb(160, 79, 153);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.438);
    border: 1px solid white;
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
}
section#botoes p input {
    border-radius: 10px;
    height: 20px;
    border: 0px;
}
main button {
    display: block;
    background-color: rgb(160, 79, 153);
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.438);
    height: 30px;
    width: 100px;
    margin: 10px auto;
}
main button:hover {
    background-color: rgb(160, 47, 150);
    cursor: pointer;
}